{% load simpelsettings_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% get_settings %}
  Simpel Settings:
  <h1>{{ settings.simpel_settings.GeneralSetting.site_name }}</h1>
  Example Settings:
  <h1>{{ settings.app.ExampleSetting.site_name }}</h1>
</body>
</html>
